<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roma.android_challenge">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pokemon_list.PokemonListActivity"></activity>

        <activity android:name=".pokemon_detail.PokemonDetailActivity"></activity>

        <activity android:name=".pokemon_favorite.PokemonFavoriteActivity"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8577fe703edf53982bb2038ff8b6bc3c3c0b0f91" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="PokeApi.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>